img{
    height: auto;
    width:400px;
}

body{
    background-color: aquamarine;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

p{
    font-family: Arial, sans-serif;
}

ul, ol{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}